$hopbush: #c69 !default;
$patina: #699 !default;
$venus: #998099 !default;
$nebula: #d2e1dd !default;




$yellow: #999900 !default; 
$blue: #3333aa !default; 
$green: #33cc33 !default;
$purple: #993399 !default;
$pink: #cc6699 !default;
$orange: #ff9933 !default;
$brown: #995522 !default; 
$black: #000 !default;
$white: #fff !default;

$btn-disabled-opacity: 0.5 !default;

